version: '2'
services:
  cassandra-node1:
    image: bitnami/cassandra:latest
    ports:
      - '7000:7000'
      - '9042:9042'
    environment:
      - CASSANDRA_CLUSTER_NAME=cassandra-cluster
      - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2,cassandra-node3
      - CASSANDRA_PASSWORD_SEEDER=yes
      - CASSANDRA_PASSWORD=cassandra
      - CASSANDRA_AUTHENTICATOR=PasswordAuthenticator

  cassandra-node2:
    image: bitnami/cassandra:latest
    environment:
      - CASSANDRA_CLUSTER_NAME=cassandra-cluster
      # - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2,cassandra-node3
      # - CASSANDRA_PASSWORD=cassandra
      - CASSANDRA_AUTHENTICATOR=PasswordAuthenticator

  cassandra-node3:
    image: bitnami/cassandra:latest
    environment:
      - CASSANDRA_CLUSTER_NAME=cassandra-cluster
      # - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2,cassandra-node3
      # - CASSANDRA_PASSWORD=cassandra
      - CASSANDRA_AUTHENTICATOR=PasswordAuthenticator
